div.controls
{
  float: left;
  margin-right: 128px;
}
    
label
{
  font-size: 14px;
}
    
.axis path, .axis line
{
  fill: none;
  stroke: #dcdcdc;
  stroke-dasharray: 2, 3;
  shape-rendering: crispEdges;
}
    
.axis text
{
  font-size: 16px;
  color: black; 
  fill: #6b6b6b;
}
    
.title
{
  font-size: 14px;
  fill: #6b6b6b;
}
    
.shadow
{
  text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px 0px 2px #fff, 2px 0px 2px #fff;
  color: black; 
  font-size: 20px;
}
    
circle
{
  fill-opacity: 0.55;
}

.d3-tip
{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}